


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2.4fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.2fr 0.6fr;
    grid-template-areas: 
    "item1-header item1-header item1-header item1-header"
    "item2-hero  item2-hero item3-main item3-main"
    "item4-sidebar item4-sidebar item5-extra item5-extra"
    "item6-images item6-images item7-post item7-post "
    "item8-footer item8-footer item8-footer item8-footer"
    
    ;
    gap: 0.4rem;
}

.item1-header{
    background-color: aqua;
    grid-area: item1-header;
    text-align: center;
    font-size: 23px;
    color: white;

}

.item2-hero {
    background-color: rgb(194, 179, 208);
    grid-area: item2-hero;
    text-align: center;
    font-size: 23px;
    color: white;
    margin-bottom: 8%;
    margin-right: 25%;
   

}

.item3-main{
    background-color: rgb(239, 185, 115);
    grid-area: item3-main;
    text-align: center;
    font-size: 23px;
    color: white;
    margin-left: -42%;
}

.item4-sidebar{
    background-color: #80c268 ;
    grid-area: item4-sidebar;
    text-align: center;
    font-size: 23px;
    color: white;
    margin-top: -8%;
    margin-right: 25%;
   
    
    
}

.item5-extra {
    background-color: rgb(129, 125, 125);
    grid-area: item5-extra;
    text-align: center;
    font-size: 23px;
    color: white;
    margin-left: -42%;
}

.item6-images{
    background-color: #00b68d;
    grid-area: item6-images;
    text-align: center;
    font-size: 23px;
    color: white;
}

.item7-post{
    background-color: rgb(216, 194, 213);
    grid-area: item7-post;
    text-align: center;
    font-size: 23px;
    color: white;
}

.item8-footer{
    background-color: orange;
    grid-area: item8-footer;
    text-align: center;
    font-size: 23px;
    color: white;
}